body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, san-serif;
  font-size: 14px;
  color: #333;
}
body .main {
  background-color: #fff;
  margin: 0 auto;
  width: 80%;
}
body .main .header {
  background-color: #137bee;
  color: #fff;
  overflow: hidden;
  padding: 0 10px;
}
@media only screen and (max-width: 480px) {
  body .main {
    width: 100%;
  }
  body .content {
    margin: 10px;
  }
}
