body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, san-serif;
  font-size: 14px;
  color: #333;
  position: relative;
}
body .main {
  margin: 0 auto;
  width: 80%;
}
@media only screen and (max-width: 40em) {
  body .main {
    background-color: #333;
    color: lightblue;
  }
}
body .main .header {
  background-color: dodgerblue;
  color: #fff;
  overflow: hidden;
  padding: 0 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
@media only screen and (max-width: 64em) {
  body .main .header {
    background-color: navy;
  }
}
@media only screen and (max-width: 40em) {
  body .main .header {
    background-color: black;
  }
}
body .main .offer {
  height: 200px;
  background-color: lightblue;
  margin: 5px 0;
  overflow: hidden;
  position: relative;
}
body .main .offer p {
  color: #d4ebf2;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .main .left-bar {
  color: #fff;
  background-color: navy;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  transform: rotate(-15deg);
}
body .main .left-bar:hover {
  background-color: hotpink;
}
@media only screen and (max-width: 480px) {
  body .main {
    width: 100%;
  }
  body .content {
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .left-bar {
    width: 24.32432%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }

  .content {
    width: 72.97297%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .offers {
    width: 72.97297%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1140px) {
  .left-bar {
    width: 15.78947%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }

  .content {
    width: 47.36842%;
    float: left;
    margin-right: -100%;
    margin-left: 18.42105%;
    clear: none;
  }

  .offers {
    width: 31.57895%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.btn-link, .header-link {
  text-decoration: underline;
  text-transform: uppercase;
}

.btn .link, .header .link {
  color: red;
}

.btn.link, .header.link {
  color: red;
}
