@import 'singularitygs';
@import 'variables/**/*.*';

@mixin phone($color:red) {
  @media only screen and (max-width:480px) {
    @content;
  }
}

body {
  margin:0;
  padding:0;
  font-family: $body-text-font;
  font-size: $body-text-size;
  color: $text-color;
  .main {
    background-color: $background-color;
    margin:0 auto;
    width:1440px;
    .header {
      background-color:$h1-background-color;
      color:$h1-color;
      overflow:hidden;
      padding:0 10px;
    }
    .one {
      @include grid-span(1, 1);
    }
    .two {
      @include grid-span(1, 2);
    }
    .three {
      @include grid-span(1, 3);
    }
    .four {
      @include grid-span(1, 4);
    }
    .five {
      @include grid-span(1, 5);
    }
  }
  @include phone {
    .main {
      width:100%;
    }
    .content {
      margin:10px;
    }
  }
}