@import 'breakpoint';
@import 'singularitygs';
@import 'variables/**/*.*';

@mixin phone($color:red) {
  @media only screen and (max-width:480px) {
    @content;
  }
}

body {
  margin:0;
  padding:0;
  font-family: $body-text-font;
  font-size: $body-text-size;
  color: $text-color;
  .main {
    background-color: $background-color;
    margin:0 auto;
    width:80%;
    .header {
      background-color:$h1-background-color;
      color:$h1-color;
      overflow:hidden;
      padding:0 10px;
    }
    .offer {
      height:200px;
      background-color:lightblue;
      margin:5px 0;
      overflow:hidden;
      p {
        color:lighten(lightblue, 10);
        font-weight:bold;
        font-size:1.5em;
        margin:40px;
        text-align:center;
      }
    }
  }
  @include phone {
    .main {
      width:100%;
    }
    .content {
      margin:10px;
    }
  }
}
@include breakpoint (768px) {
  .left-bar {
    @include grid-span(1, 1);
  }
  .content {
    @include grid-span(1, 2);
  }
  .offers {
    @include grid-span(1, 2);
  }
}
@include breakpoint (1140px) {
  .left-bar {
    @include grid-span(1, 1);
  }
  .content {
    @include grid-span(1, 2);
  }
  .offers {
    @include grid-span(1, 3);
  }
}