@import "style";

@mixin ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display:block;
}

@mixin circle($size,$color) {
  @include ir;
  -webkit-border-radius: $size/2;
  -moz-border-radius: $size/2;
  border-radius: $size/2;
  height:$size;
  width:$size;
  background-color:$color;
}

@mixin triangle($size,$direction,$color) {
  @include ir;
  @if $direction == 'up' {
    width:0;
    height:0;
    border-left:$size/2 solid transparent;
    border-right:$size/2 solid transparent;
    border-bottom:$size/2 solid $color;
  } @elseif $direction == 'down' {
    width:0;
    height:0;
    border-left:$size/2 solid transparent;
    border-right:$size/2 solid transparent;
    border-top:$size/2 solid $color;
  } @elseif $direction == 'right' {
    width:0;
    height:0;
    border-top:$size/2 solid transparent;
    border-bottom:$size/2 solid transparent;
    border-left:$size/2 solid $color;
  } @elseif $direction == 'left' {
    width:0;
    height:0;
    border-top:$size/2 solid transparent;
    border-bottom:$size/2 solid transparent;
    border-right:$size/2 solid $color;
  }
}
.circle
  {@include circle(100px,#333);
  &:hover {background:red;}
}
.triangle {@include triangle(100px,'right',#333)}

ul.socialLinks {
  display:block;
  overflow:hidden;
  li {
    list-style: none;
    a {
      display: block;
      float: left;
      margin-right:5px;
      height: 32px;
      width: 32px;
    }
  }
}

$icons: (twitter,facebook,youtube,rss);
@each $social in $icons {
  .#{$social} {
    background: url('../img/#{$social}.png') no-repeat;
    background-size:32px;
    text-indent:-999px;
  }
}
@function text-contrast($background) {
  @if lightness($background) < 50% {
    @return lighten($background,70%);
  } @else {
    @return darken($background,70%);
  }
}
//@each $p in (
//  one: red + 100,
//  two: red + 50,
//  three: red - 50,
//  four: red - 100
//) {
//  .#{nth($p,1)} {
//    background:#{nth($p,2)};
//    @include border-radius(10px);
//    padding:10px;
//    color:text-contrast(nth($p,2));
//  }
//}

$i : 1;
$parbg : darkred;
@while $i < 5 {
  .par-#{$i} {
    margin: 10px * $i;
    background-color:$parbg;
    @include border-radius(10px);
    padding:10px;
    color:text-contrast($parbg);
    $parbg : lighten($parbg, 20%);

  }
  $i : $i + 1;
}

//@for $i from 1 through 4 {
//  .par-#{$i} {
//    margin:10px * $i;
//  }
//}
